<script lang="ts">
  import type { Dish } from '$lib/model/Dish';
  import { createEventDispatcher } from 'svelte';

  const dispatch = createEventDispatcher();
  export let dishes: Array<Dish.Doc>;

  let selectedDishId: string

  const chooseDish = (dish: Dish.Doc) => {
    selectedDishId = dish.id
  }

  const goToMotivation = () => {
    dispatch('goToMotivation', {})
  }
</script>

<div class="max-w-3xl m-auto p-5 animate-startPage">
  <slot></slot>
  <div class="grid grid-cols-2 gap-4 cursor-pointer mb-4">
    {#each dishes as dish} 
      {#if dish.isLive}
        <div 
          on:click={() => chooseDish(dish)} 
          class=" w-full relative border border-grey-natural-light rounded-lg animate-zoom"
          class:border-none={selectedDishId === dish.id}
        >
          <img class="aspect-[154/158] object-cover w-full rounded-lg" src={dish.image} alt={dish.title}>
          <div class="dish-title-container"><p class="dish-title">{dish.title}</p></div>
          {#if selectedDishId === dish.id}<img class="absolute right-3 top-3 w-5" src={'/accept.svg'} alt="selected-icon">{/if}
          <div 
            class="absolute w-full h-full z-10 top-0 rounded-lg"
            class:border-green={selectedDishId === dish.id}
          ></div>
        </div>
      {/if}
    {/each}
  </div>
  <a sveltekit:prefetch href={`level-content/${selectedDishId}`}>
    <button 
      disabled={!selectedDishId} 
      class="sticky custom-btn bg-green-neutral !w-full bottom-2 disabled:bg-grey-neutral-light z-10"
    >
      Let's Go!
    </button>
  </a>
</div>