<script lang="ts">
  import { createEventDispatcher } from 'svelte';
  const dispatch = createEventDispatcher();



  let experianceLevels: Array<{title: string, description: string, image: string}> = [
    {
      title: 'First Timer',
      description: "I don't know a single thing about cooking",
      image: '/experience-icon/first-timer.svg'
    },
    {
      title: 'Beginer',
      description: "I am just learning how to cook or rarely cook",
      image: '/experience-icon/beginner.svg'
    },
    {
      title: 'Intermediate',
      description: "I can follow most recipes and comfortably cook from scratch",
      image: '/experience-icon/intermadiate.svg'
    },
    {
      title: 'Advanced',
      description: "I can improvise recipes and create flavor combinations",
      image: '/experience-icon/advanced.svg'
    }
  ]

  let selectedLevel: string
  
  const goToMotivation = () => {
    dispatch('goToMotivation', {})
  }

  const chooseLevel = (level: string) => {
    dispatch('chooseLevel', {level} )
    selectedLevel = level
  }
</script>

<div class="max-w-3xl min-h-screen m-auto flex  gap-2 flex-col items-center p-4 animate-startPage">
  <div class="flex justify-between w-full mb-2">
    <a href="/">
      <img src="/back-icon.svg" alt="back-icon">
    </a>
    <p 
      on:click={goToMotivation}
      class="skip-text cursor-pointer"
    >
      Skip
    </p>
  </div>
  <div class="w-full h-[8px] bg-[#E5E5E5] rounded-3xl mb-4">
    <div
      style="width: 33%"
      class="h-[8px] bg-green-neutral rounded-3xl"
    >
    </div>
  </div>
  <p class="onboarding-title">How much cooking experience do you have?</p>
  {#each experianceLevels as level}
    <div 
      on:click={() => chooseLevel(level.title)} 
      class="border border-grey-light flex w-full rounded-lg h-[96px] items-center cursor-pointer"
      class:border-green={level.title == selectedLevel}
    >
      <div class="w-3/12 flex justify-center">
        <img src={level.image} alt={level.title}>
      </div>
      <div class="w-7/12 flex flex-col gap-1">
        <p class="level-title">{level.title}</p>
        <p class="level-description">{level.description}</p>
      </div>
      {#if level.title == selectedLevel}
        <div class="w-2/12 flex justify-center">
          <img class="w-[32px]" src="/selection.svg" alt="choose-icon">
        </div>
      {/if}
    </div>
  {/each}
  <button
    on:click={goToMotivation}
    class="custom-btn bg-green-neutral !m-0"
  >
    <p class="btn-text">Next</p>
  </button>
</div>