<script lang="ts">
  import { createEventDispatcher } from 'svelte';
  const dispatch = createEventDispatcher();


  let motivations: Array<{title: string, image: string}> = [
    {
      title: 'Saving money',
      image: '/motivations-icon/saving-money.svg'
    },
    {
      title: 'Eating healthier',
      image: '/motivations-icon/eating-healthier.svg'
    },
    {
      title: 'Feeding myself',
      image: '/motivations-icon/feeding-myself.svg'
    },
    {
      title: 'Hosting dinners',
      image: '/motivations-icon/hosting-dinners.svg'
    },
    {
      title: 'Love of good food',
      image: '/motivations-icon/love-of-good-food.svg'
    }
  ]

  let selectedMotivations: Array<string> = []

  const goToExperianceLevel = () => {
    dispatch('goToExperianceLevel', {})
  }
  const goToDish = () => {
    dispatch('goToDish')
  }

  const chooseMotivations = (title: string) => {
    dispatch('chooseLevel', {title})
    if(selectedMotivations.includes(title)) {
      selectedMotivations = selectedMotivations.filter((item: string) => item !== title)
    } else {
      selectedMotivations = [...selectedMotivations, title]
    }
  }
</script>

<div class="max-w-3xl min-h-screen m-auto flex  gap-2 flex-col items-center p-4 animate-startPage">
  <div class="flex justify-between w-full mb-2">
    <img class="cursor-pointer" on:click={goToExperianceLevel} src="/back-icon.svg" alt="back-icon">
    <p 
      on:click={goToDish}
      class="skip-text cursor-pointer"
    >
      Skip
    </p>
  </div>
  <div class="w-full h-[8px] bg-[#E5E5E5] rounded-3xl mb-4">
    <div
      style="width: 66%"
      class="h-[8px] bg-green-neutral rounded-3xl"
    >
    </div>
  </div>
  <p class="onboarding-title">Why are you learning to cook?</p>
  {#each motivations as motivation}
    <div 
      on:click={() => chooseMotivations(motivation.title)} 
      class="border border-grey-light flex w-full rounded-lg h-[96px] items-center cursor-pointer"
      class:border-green={selectedMotivations.includes(motivation.title)}
    >
      <div class="w-3/12 flex justify-center">
        <img src={motivation.image} alt={motivation.title}>
      </div>
      <div class="w-7/12 flex flex-col gap-1">
        <p class="level-title">{motivation.title}</p>
      </div>
      {#if selectedMotivations.includes(motivation.title)}
        <div class="w-2/12 flex justify-center">
          <img class="w-[32px]" src="/selection.svg" alt="choose-icon">
        </div>
      {/if}
    </div>
  {/each}
  <button
    on:click={goToDish}
    class="custom-btn bg-green-neutral !m-0"
  >
    <p class="btn-text">Next</p>
  </button>
</div>