<script lang="ts">
  import DishesList from '$lib/components/Onboarding/DishesList.svelte';
import ExperienseLevel from '$lib/components/Onboarding/ExperienseLevels.svelte';
  import MotivationList from '$lib/components/Onboarding/MotivationList.svelte';
  import type { Dish } from '$lib/model/Dish';

  let selectedLevel: string
  let selectedMotivations: Array<string> = []
  let experianceVisible: boolean = true
  let motivationVisible: boolean = false
  let dishVisible: boolean = false
  export let dishes: Array<Dish.Doc>;
  
  const chooseLevel = (event: any) => {
    selectedLevel = event.detail.level
    console.log(event.detail.level);
  }

  const goToExperianceLevel = () => {
    experianceVisible = true
    motivationVisible = false
    dishVisible = false
  }

  const goToMotivation = () => {
    // if(selectedLevel) {
      experianceVisible = false
      motivationVisible = true
      dishVisible = false
    // }
  }

  const chooseMotivations = (event: any) => {
    if(selectedMotivations.includes(event.detail.title)) {
      selectedMotivations = selectedMotivations.filter((item: string) => item !== event.detail.title)
    } else {
      selectedMotivations = [...selectedMotivations, event.detail.title]
    }
  }

  const goToDish = () => {
    // if(selectedLevel) {
      dishVisible = true
      motivationVisible = false
      experianceVisible = false
    // }
  }

  
</script>
{#if experianceVisible}
  <ExperienseLevel 
    on:goToMotivation={goToMotivation} 
    on:chooseLevel={chooseLevel}
  />
{/if}


{#if motivationVisible}
  <MotivationList
    on:goToExperianceLevel={goToExperianceLevel}
    on:goToDish={goToDish}
    on:chooseMotivations={chooseMotivations}
  />
{/if}


{#if dishVisible}
  <DishesList
    {dishes}
    on:goToMotivation={goToMotivation}
  >
    <div class="flex justify-between w-full mb-2">
      <img class="cursor-pointer" on:click={goToMotivation} src="/back-icon.svg" alt="back-icon">
      <p 
        class="skip-text cursor-pointer"
      >
        Skip
      </p>
    </div>
    <div class="w-full h-[8px] bg-green-neutral rounded-3xl mb-4"></div>
    <p class="onboarding-title">Let’s pick a target dish:</p>
    <p class="onboarding-description text-[14px] my-2">Don’t worry, you can change this later.</p>
  </DishesList>
{/if}



