<script lang="ts">
	import PageMeta from '$lib/components/PageMeta.svelte';
</script>

<PageMeta title="Parsnip" desc="Parsnip game"/>

<div class="max-w-3xl min-h-screen m-auto flex flex-col justify-center items-center">
  <img class="w-[140px] h-[140px]" src="/snippy/answer_type_9.jpg" alt="snippy">
  <p class="font-filson font-bold text-[32px] text-grey-dark">Hi, I'am Snippy</p>
  <p class=" w-[343px] font-avenir font-normal text-[18px] leading-[150%] text-grey-dark text-center">To customize your cooking journey, I just need to ask a few questions.</p>
  <div class="fixed bottom-5 w-[343px] flex flex-col gap-2 mt-10">
    <a href="/onboarding">
      <button class="custom-btn bg-green-neutral"><p class="text-btn">Let's Go!</p></button>
    </a>
    <a href="/login">
      <button class="custom-btn border border-green-neutral"><p class="text-btn text-green-neutral">Login</p></button>
    </a>
  </div>
</div>




