<script lang="ts">
	// https://firebase.google.com/docs/auth/admin/manage-cookies
	import { account, accountLoginByPassword, accountLogout } from '$lib/account';

	let email: string = 'webuser@parsnip.ai';
	let password: string = 'parsnipSuperPass2022';

	$: console.log($account);

	const login = async () => {
		const user$ = await accountLoginByPassword(email, password);
		
		if (user$.isError()) {
			console.warn(`Auth login failed:`, user$.getError());
			return;
		}

		const user = user$.get();
	};

	$: $account;
</script>
<div class="w-[343px] min-h-screen m-auto flex flex-col justify-center items-center">
  <img class="w-[140px] h-[140px]" src="/snippy/answer_type_9.jpg" alt="snippy">
	<p class="font-filson font-bold text-[24px] text-grey-dark">Welcome back</p>
	<div class="flex flex-col text-left w-full">
		<label class="label" for="email">Email</label>
		<input bind:value={email} class="input" id="email" type="text" placeholder="Enter your email">
		<label class="label" for="password">Email</label>
		<input bind:value={password}  class="input" id="password" type="text" placeholder="Should be at least 6 characters long">
		<p class="feedback !justify-start">Forgot password?</p>
	</div>
	<a sveltekit:prefetch href="/dish">
		<button class="custom-btn bg-green-neutral !my-2 !w-[343px]"><p class="text-btn">Login</p></button>
	</a>
	<button on:click={accountLogout} class="custom-btn border border-green-neutral !my-2"><p class="text-btn text-green-neutral ">Log Out</p></button>
</div>
