<script lang="ts">
	import QuestionBox from '$lib/components/Question/QuestionBox.svelte';
	import ResultBox from '$lib/components/Result/ResultBox.svelte';
	import { appendAnswerLetter } from '$lib/helpers';
	import type { Question } from '$lib/model/Question';

	export let question: Question.Doc;

	const answers = appendAnswerLetter(question.answers as Question.PictureAnswer[]);

	let selectedAnswer: Question.PictureAnswer | undefined = void 0;

	const checkAnswer = (letter: string) => {
		for (const i of answers) if (i.letter == letter) return (selectedAnswer = i);
	};
</script>

{#if !selectedAnswer}
	<QuestionBox questionTitle={question.question}>
		<div class="grid grid-cols-2 gap-3">
			{#each answers as answer}
				<img
					src={answer.answerImage}
					alt={question.question}
					on:click
					draggable="false"
					class="aspect-[155/133] bg-gray-100 border border-grey-neutral-light rounded-lg mask block w-full cursor-pointer duration-75 select-none hover:border-gray-300"
					on:click={() => checkAnswer(answer.letter)}
				/>
			{/each}
		</div>
	</QuestionBox>
{:else}
	<ResultBox
		snippyName={selectedAnswer.imageName}
		answerLetter={selectedAnswer.letter}
		answerCorrect={selectedAnswer.isCorrect}
		description={selectedAnswer.explainDescription}
		heading={selectedAnswer.explainTitle}
		actionWhenIncorrect={() => (selectedAnswer = void 0)}
		src={selectedAnswer.answerImage}
	/>
{/if}
