<script lang="ts">
	export let questionTitle: string;
</script>

<div class="animate-startPage">
	<slot name="upper"/>

	<h2 class="main-question">{questionTitle}</h2>

	<slot></slot>

	<!-- <div class="feedback">
		<span>Give feedback</span>
	</div> -->
</div>

