<script lang="ts">
	import { goto } from '$app/navigation';
	import QuestionBox from '$lib/components/Question/QuestionBox.svelte';
	import { appendAnswerLetter } from '$lib/helpers';
	import type { Question } from '$lib/model/Question';
	import { sampleSize } from 'lodash-es';
	import classnames from 'classnames';
	import ResultBox from '$lib/components/Result/ResultBox.svelte';

	export let question: Question.Doc;

	const answers = appendAnswerLetter(question.answers as Question.CommonAnswer[]);

	// get random position array from answer array.
	const answersWithPicture = sampleSize(answers, answers.length);

	let letterA: string | undefined = void 0;
	let letterB: string | undefined = void 0;

	let doneLetters: string[] = [];

	let isFalse = false;
	let isDisabled = true;
	let seeResult = false;

	// whenever user select & matched all letters ?
	$: matchedAll = ['A', 'B', 'C', 'D'].every((i) => doneLetters.includes(i));

	$: if (matchedAll) isDisabled = false;

	const selectA = (letter: string) => {
		letterA = letter;
		isFalse = false;
	};

	const selectB = (letter: string) => {
		letterB = letter;

		//
		if (letterA && letterA == letterB) {
			doneLetters = [...doneLetters, letter];
			return;
		}

		if (letterA !== letterB) {
			letterA = void 0;
			isFalse = true;
		}
	};
</script>

{#if !seeResult}
	<QuestionBox questionTitle={question.question}>
		<div class="flex space-x-3 h-[400px]">
			<div class="flex flex-col justify-between  gap-3 w-2/5">
				{#each answers as answer}
					<div
						class={classnames(
							`answer-match-title relative cursor-pointer`,
							letterA === answer.letter && `border-green`,
							doneLetters.includes(answer.letter) && 'border-green'
						)}
						on:click={() => selectA(answer.letter)}
					>
						<div class:opacity-50={doneLetters.includes(answer.letter)}>
							<span>{answer.title}</span>
						</div>
						{#if doneLetters.includes(answer.letter)}
							<img class="absolute top-2 right-2 opacity-100" src="/accept.svg" alt="" />
						{/if}
					</div>
				{/each}
			</div>

			<div class="flex flex-col justify-between w-3/5">
				{#each answersWithPicture as answer}
					<div class="relative cursor-pointer" on:click={() => selectB(answer.letter)}>
						<div style="background-image: url('{answer.answerImage}')"  class={classnames(
							'object-cover answer-match-picture bg-cover bg-center border border-grey-neutral-light',
							isFalse && letterB == answer.letter && 'animate-wrongMatchingImage',
							doneLetters.includes(answer.letter) && 'btn-disabled opacity-50'
						)}>
						<!-- <img
							src={answer.answerImage}
							alt="answer_image"
							on:click={() => selectB(answer.letter)}
							draggable="false"
							class={classnames(
								'answer-match-picture object-cover',
								isFalse && letterB == answer.letter && 'animate-wrongMatchingImage',
								doneLetters.includes(answer.letter) && 'border-none btn-disabled opacity-50 !h-[86px]'
							)}
						/> -->
						</div>
						{#if doneLetters.includes(answer.letter)}
							<img class="absolute z-50 top-2 right-2 " src="/accept.svg" alt="" />
						{/if}
						<div  
							class="absolute top-0 right-0 answer-match-picture" 
							class:border-green={doneLetters.includes(answer.letter)
						}>
						</div>
					</div>
				{/each}
				</div>
			</div>
		<button
			disabled={isDisabled}
			class="btn btn-primary rounded-full w-full mt-10 btn-text !disable:btn-text normal-case btn-text"
			on:click={() => (seeResult = true)}
		>
			Next
		</button>
	</QuestionBox>
{:else}
	<ResultBox heading={question.explainTitle} answerTitle={question.explainTitle} answerCorrect={true}>
		<div class="flex flex-col space-y-2">
			{#each answers as answer}
				<div class="h-[90px] rounded-lg flex overflow-hidden border-green">
					<div class="answer-match-title w-2/5 rounded-r-none border-none border-r pointer-events-none">
						{answer.title}
					</div>
					<img
						src={answer.answerImage}
						alt={answer.title}
						class="w-3/5 object-cover flex flex-1 border-l"
					/>
				</div>
			{/each}
		</div>
	</ResultBox>
{/if}
