<script lang="ts">
	import { goto } from '$app/navigation';
	import type { Question } from '$lib/model/Question';
	import { appendAnswerLetter } from '$lib/helpers';
	import { sampleSize } from 'lodash-es';
	import QuestionBox from '$lib/components/Question/QuestionBox.svelte';
	import classNames from 'classnames';
	import ResultBox from '$lib/components/Result/ResultBox.svelte';

	export let question: Question.Doc;

	const answers = appendAnswerLetter(question.answers as Question.CommonAnswer[]);

	// version randomize position
	const sampleAnswers = sampleSize(answers, answers.length);

	let selectedLetter: string;
	let correctLetters: string[] = [];
	let isFalse = false;
	let correctOrder = 0;
	let seeResult = false;

	question.answers.forEach((item) => {
		if (item.isCorrect) correctOrder += 1;
	});

	$: isCorrectedAll = correctLetters.length == correctOrder;

	const checkAnswer = (letter: string) => {
		selectedLetter = letter;

		question.answers.forEach((item) => {
			if (item.letter == letter && item.isCorrect && !correctLetters.includes(item.letter)) {
				correctLetters = [item.letter, ...correctLetters];
			}

			if (item.isCorrect == false) {
				isFalse = !isFalse;
			}
		});

		setTimeout(() => {
			isFalse = false;
		}, 300);
	};

	const goSeeResult = () => {
		(isFalse = false), (seeResult = true);
	};
	
</script>

{#if !seeResult}
	<QuestionBox questionTitle={question.question}>
		<div class="grid gap-3 grid-cols mb-5">
			{#each sampleAnswers as answer}
				<div
					class={classNames(
						`answer !justify-between px-3`,
						correctLetters.includes(answer.letter)
							? 'border-green'
							: isFalse && selectedLetter == answer.letter
							? 'animate-wrongAnswer border-red'
							: '',
						
					)}
					on:click={() => checkAnswer(answer.letter)}
				>
					<span>{answer.title}</span>

					{#if correctLetters.includes(answer.letter)}
						<img class="w-[18px]" src="/accept.svg" alt="accpet-icon" />
					{/if}

					{#if isFalse && !correctLetters.includes(answer.letter) && selectedLetter == answer.letter}
						<img class="w-[18px]" src="/wrong.svg" alt="wrong-icon" />
					{/if}
				</div>
			{/each}
		</div>

		<button
			disabled={!isCorrectedAll}
			class="bg-green-neutral custom-btn mt-3 disabled:bg-grey-neutral-light"
			on:click={goSeeResult}>Next</button
		>
	</QuestionBox>
{:else}
	<ResultBox heading={question.explainTitle} answerTitle={question.explainTitle} answerCorrect={true}>
		<div class="flex flex-col space-y-2">
			{#each answers.filter((i) => i.isCorrect) as answer}
				<div class="answer border-2 border-green px-3">
					<span class="text-grey-dark">{answer.title}</span>
				</div>
			{/each}
		</div>
	</ResultBox>
{/if}
