<script lang="ts">
	import QuestionBox from '$lib/components/Question/QuestionBox.svelte';
	import ResultBox from '$lib/components/Result/ResultBox.svelte';
	import { appendAnswerLetter } from '$lib/helpers';
	import type { Question } from '$lib/model/Question';
	import { count } from '../../../store';

	export let question: Question.Doc;

	const answers = appendAnswerLetter(question.answers as Question.KnowlegeAnswer[]);

	let selectedAnswer: Question.KnowlegeAnswer | undefined = void 0;

	const checkAnswer = (letter: string, isCorrect: boolean) => {
		selectedAnswer = answers.find((i) => i.letter === letter);
	};
</script>

{#if !selectedAnswer}
	<QuestionBox questionTitle={question.question}>
		<img
			slot="upper"
			class="aspect-[343/193] w-full rounded-lg bg-gray-100"
			src={question.image}
			alt={question.question}
		/>

		<div class="flex flex-col space-y-2">
			{#each answers as answer}
				<div class="answer" on:click={() => checkAnswer(answer.letter, answer.isCorrect)}>
					<div class="answer-letter">{answer.letter}</div>
					<span>{answer.title}</span>
				</div>
			{/each}
		</div>
	</QuestionBox>
{:else}
	<ResultBox
		snippyName={selectedAnswer.imageName}
		answerLetter={selectedAnswer.letter}
		answerTitle={selectedAnswer.title}
		answerCorrect={selectedAnswer.isCorrect}
		description={selectedAnswer.explainDescription}
		heading={selectedAnswer.explainTitle}
		actionWhenIncorrect={() => (selectedAnswer = void 0)}
	/>
{/if}
