<script lang="ts">
	import QuestionBox from '$lib/components/Question/QuestionBox.svelte';
	import ResultBox from '$lib/components/Result/ResultBox.svelte';
	import { appendAnswerLetter } from '$lib/helpers';
	import type { Question } from '$lib/model/Question';
	import classNames from 'classnames';
	import { sampleSize } from 'lodash-es';
	import Sortable from 'sortablejs';

	type Ans = Question.CommonAnswer;
	type Answers = Question.CommonAnswer[];
	type AnswerStatus = Record<string, boolean>;

	export let question: Question.Doc;

	const answers = appendAnswerLetter(question.answers as Answers);

	let sortableAnswers = sampleSize(answers, answers.length);
	let allowSeeResult = false;

	// check answer status
	//#region

	// answer status now is passive variable. it update when we check via button [check]
	let answerStatus = {} as Record<string, boolean>;

	// scan answer positions and update answer status.
	// input sortableAnswers and allowCheckAnswer. Because 2 variables appear in $ statments
	// then statment will rerun when 2 variables change.
	const collectAnswerStatus = (compare: Answers) => {
		const obj = {} as AnswerStatus;
		answers.forEach((i, inx) => {
			obj[i.letter] = i.letter === compare[inx].letter;
		});
		return (answerStatus = obj);
	};
	//#endregion

	// remember when all answer available.
	$: isCorrectedAll = Object.values(answerStatus).filter(Boolean).length === answers.length;

	// sortable directive
	//#region

	// define sortable engine in component scope
	let sortableEngine: Sortable | undefined = void 0;

	const sorter = (node: HTMLDivElement) => {
		sortableEngine = Sortable.create(node, {
			direction: 'vertical',
			// handle: '.cursor-move',
			// filter: '.btn-disabled',
			animation: 150,
			swap: true,
			onEnd: ({ oldIndex, newIndex }) => {
				if (oldIndex == void 0 || newIndex == void 0) return;

				// modify the list follow plugin
				const a = sortableAnswers[oldIndex];
				const b = sortableAnswers[newIndex];

				// revert status 2 answers when it swap position
				answerStatus = {
					...answerStatus,
					[a.letter]: false,
					[b.letter]: false
				};

				const list = [...sortableAnswers];
				list[oldIndex] = b;
				list[newIndex] = a;
				sortableAnswers = list;
			}
		});

		return {
			destroy: () => sortableEngine?.destroy()
		};
	};

	// whenever all answer corrected we should disable sortable to avoid user try to move answer
	// because it meanless
	$: if (isCorrectedAll && sortableEngine) sortableEngine.option('disabled', true);
	//#endregion

	const isCorrected = (status: AnswerStatus, answer: Ans) => {
		return status[answer.letter];
	};

	const check = () => collectAnswerStatus(sortableAnswers);

	const next = () => (allowSeeResult = true);
</script>

{#if !allowSeeResult}
	<QuestionBox questionTitle={question.question}>
		<img
			slot="upper"
			class="aspect-[343/193] w-full rounded-lg"
			src={question.image}
			alt={question.question}
		/>

		<div class="m-auto flex flex-col gap-2 mb-5 relative select-none" use:sorter>
			{#each sortableAnswers as item, index (item.letter)}
				{@const corrected = isCorrected(answerStatus, item)}
				<div
					class={classNames(
						`answer !h-[58px] !cursor-pointer relative`,
						corrected ? `` : `dragable`
					)}
				>
					{#if corrected}
						<div class="ordering-number absolute left-2">
							{index + 1}
						</div>
					{/if}
					<span class="text-lg font-normal ml-12">{item.title}</span>
					{#if !corrected}
						<img
							class="w-[40px] ml-auto absolute right-2 bottom-2"
							src="/menu-icon.svg"
							alt={item.title}
						/>
					{/if}
				</div>
			{/each}
		</div>

		{#if !isCorrectedAll}
			<span class="custom-btn btn-primary rounded-full w-full normal-case btn-text" on:click={check}>
				Check Answer
			</span>
		{:else}
			<span class="custom-btn btn-primary rounded-full w-full normal-case btn-text" on:click={next}>
				Next
			</span>
		{/if}
	</QuestionBox>
{:else}
	<ResultBox
		heading={question.explainTitle}
		answerTitle={question.explainTitle}
		description={''}
		answerCorrect={true}
	>
		<!--  -->
		<div class="space-y-1 flex flex-col gap-1">
			{#each answers as answer, index}
				<div class="answer !h-[58px] border-green pointer-events-none pl-2">
					<div class="ordering-number">
						{index + 1}
					</div>
					<span class="capitalize text-lg font-normal">{answer.title}</span>
				</div>
			{/each}
		</div>
	</ResultBox>
{/if}
