<script lang="ts">
  import DishesList from '$lib/components/Onboarding/DishesList.svelte';
  import type { Dish } from '$lib/model/Dish';

  export let dishes: Array<Dish.Doc>;
  
</script>

<DishesList
  {dishes}
>
  <p class="font-filson font-bold text-[20px] text-grey-dark mb-2">Select a different Target Dish</p>
</DishesList>






