
<script lang="ts">
	import { Question } from '$lib/model/Question';
	import type { Level } from '$lib/model/Level';
	import QuestionKnowlege from '$lib/components/Question/QuestionKnowlege.svelte';
	import QuestionPicture from '$lib/components/Question/QuestionPicture.svelte';
	import QuestionMultiSelect from '$lib/components/Question/QuestionMultiSelect.svelte';
	import QuestionMatching from '$lib/components/Question/QuestionMatching.svelte';
	import QuestionOrdering from '$lib/components/Question/QuestionOrdering.svelte';
	import LevelResult from '$lib/components/Result/LevelResult.svelte';
	import PageMeta from '$lib/components/PageMeta.svelte';

  import { count } from '../../../../store';
  
  
	let thrumbSrc: string | undefined = "/snippy/answer_type_3.jpg"

  export let questions: Array<Question.Doc>
	export let lcId: string
	export let lId: string
	export let selectedlevel: Level.Doc

	let modalVisible: boolean = false

  questions.sort((a,b) => {
    return a.order - b.order
  })
	
  let countValue: number
  count.subscribe(value => {
		countValue = value;
	});
  
	const closeLevel = () => {
		modalVisible = !modalVisible
	}

	$: order = countValue
	$: progressLine = 100 / questions.length

</script>

<!-- <PageMeta
	title={question.question}
	desc={question.question}
	thumbSrc={thrumbSrc}
	type={'website'}
/> -->
{#if questions.length !== order}
<div class="max-w-3xl p-5 m-auto">
	<div class="flex justify-between items-center">
		<div class="level-content-title first-letter:uppercase">{selectedlevel.category}: {selectedlevel.title}</div>
		<div class="flex items-center gap-6">
			<div>
				<a sveltekit:prefetch target="_blank" href={`https://tapforce-parsnip-question.vercel.app/${questions[order].id}`}>
				<img  src="/share-icon.svg" alt="share-icon">
				</a>
			</div>
			<img on:click={closeLevel} class="w-5" src="/close_icon.svg" alt="close-icon">
			{#if modalVisible}
				<div
					class="modal-container"
				>
					<div class="modal-window gap-5 animate-zoom">
						<img class="w-20" src="/snippy/answer_type_8.jpg" alt="snippy-icon"/>
						<p class="modal-title">Wait don't go!</p>
						<p class="modal-text">You are doing great! If you leav, you will lose your progress.</p>
						<div class="flex flex-col w-full">
							<button 
								class="custom-btn bg-green-neutral"
								on:click={closeLevel}
							>
								<p class="btn-text">Continue</p>
							</button>
							<a sveltekit:prefetch href={`/level-content/${lcId}`}>
								<button 
									class="custom-btn !bg-white"
								>
									<p class="btn-text !text-green-neutral !font-normal !text-[14px]">Leave the session</p>
								</button>
							</a>
						</div>
					</div>
				</div>
			{/if}
		</div>
	</div>
	<div class="w-full h-[8px] bg-[#E5E5E5] rounded-3xl mb-4">
		<div
			style="width: {progressLine * (order + 1)}%"
			class="h-[8px] bg-green-neutral rounded-3xl"
		>
		</div>
	</div>
	{#each questions as question}
		<div class="min-h-screen flex flex-col items-center max-w-3xl m-auto" class:hidden={question.order !== order}>
			<div class="w-full">
				<!-- Knowlege question contianer -->
				{#if question.type === Question.Type.Knowledge}
					<QuestionKnowlege question={question} />
	
					<!-- Picture question container -->
				{:else if question.type === Question.Type.PictureAnswer}
					<QuestionPicture question={question} />
	
					<!-- Multiselect question container -->
				{:else if question.type === Question.Type.Multiselect}
					<QuestionMultiSelect question={question} />
	
					<!-- Musliselect question container -->
				{:else if question.type === Question.Type.Matching}
					<QuestionMatching question={question} />
	
					<!-- Ordering question container -->
				{:else if question.type === Question.Type.Ordering}
					<QuestionOrdering question={question} />
				{/if}
			</div>
		</div>
	{/each}
</div>
{:else}
	<LevelResult {lId} {lcId}/>
{/if}


