<script lang="ts">
  import { goto } from '$app/navigation';
	import LevelContent from '$lib/components/LevelContent.svelte';
  import type { Dish } from '$lib/model/Dish';
  import type { Level } from '$lib/model/Level';

  import { count } from '../../../store';
  count.set(0);

  export let dish: Dish.Doc;
  export let levels : Array<Level.Doc>;
  export let lcId: string;
  export let randomDishId : string;
  
</script>


<div class="max-w-3xl m-auto p-4 animate-startPage">
  <div class="mb-6 flex justify-between">
    <img class="h-[32px]" src="/parsnip-color.svg" alt="pasnip-logo">
    <div class="star-rating-container">
      <img class="h-[12px]" src="/white-star.svg" alt="white-star"><span>8</span>
    </div>
  </div>
  <div class="flex justify-between mb-3">
    <div class="flex items-center justify-between w-[83%] h-[60px] border border-yellow-light rounded-lg pl-5 pr-4">
      <div>
        <p class="font-avenir font-bold text-[10px] tracking-widest">TARGET DISH</p>
        <p class="level-text">{dish.title}</p>
      </div>
      <a sveltekit:prefetch href="/dish">
        <img class="w-[26px] pt-1 cursor-pointer" src="/pencil.svg" alt="pencil">
      </a>
    </div>
    <div class="w-[15%] h-[60px] border border-yellow-light rounded-lg flex items-center justify-center">
      <a sveltekit:prefetch sveltekit:reload href={`/level-content/${randomDishId}`}>
        <img class="h-[21px]" src="/random-arrows.svg" alt="randow-arrow">
      </a>
    </div>
  </div>
  <LevelContent {dish} {levels} {lcId} />
</div>