@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Avenir LT Std';
	src: url('/fonts/AvenirLTStd.ttf');
}
@font-face {
	font-family: 'Filson Soft';
	src: url('/fonts/Filson-Soft-W03-Regular.ttf');
}



@layer utilities {
	/* Login page */
	.label {
		@apply font-avenir font-bold text-[14px] leading-[150%] text-grey-dark
	}
	.input {
		@apply border border-grey-dark rounded-lg pr-4 flex items-center;
		@apply font-avenir font-normal text-[14px] leading-[150%] text-grey-dark
	}

	/* Dish page */

	.dish-page-title {
	}

	.dish-title-container {
		@apply absolute bottom-0 w-full h-[22%] bg-white rounded-b-lg flex items-center justify-center text-center 
	}
	.dish-title {
		@apply font-avenir font-bold text-[14px] leading-[150%] text-grey-dark

	}
	
	/* Questions page*/
	.main-question {
		@apply not-italic font-medium font-sans text-grey-dark;
		@apply leading-[150%] text-[20px];
		@apply my-3
	}

	.custom-btn {
		@apply w-full rounded-[48px] h-12 flex items-center;
		@apply justify-center text-white m-auto font-filson font-bold;
		@apply text-[18px] leading-[125%] cursor-pointer;
	}
	.btn-text {
		@apply font-filson not-italic font-bold text-[18px] leading-[125%] text-white
	}
	.your-answer {
		@apply not-italic font-bold text-grey-neutral-light text-[12px];
		@apply uppercase tracking-widest leading-[150%] font-sans;
	}

	/* answer btn */
	.answer {
		@apply border-2 min-h-[48px] h-auto py-1 font-serif normal-case;
		@apply flex items-center text-left;
		@apply flex-nowrap gap-2;
		@apply border border-[#BDBBB7] rounded-lg;
	}

	.answer-letter {
		@apply w-6 h-6 p-[4px] ml-3 flex items-center justify-center flex-shrink-0;
		@apply bg-grey-light rounded-full;
		@apply font-serif text-xs font-bold;
	}

	.answer-match-title {
		@apply font-sans not-italic font-semibold text-[16px] leading-5;
		@apply border h-[90px] p-[4px] capitalize;
		@apply flex items-center justify-center gap-4;
		@apply border-grey-neutral-light rounded-lg;
	}

	.answer-match-picture {
		@apply h-[90px] w-full p-0 ;
		@apply gap-4;
		@apply rounded-lg;
	}

	.feedback {
		@apply mt-5 flex justify-center font-serif not-italic font-normal;
		@apply text-green-neutral text-[12px];
	}
	.explain-title {
		@apply not-italic font-bold text-grey-dark text-[24px] leading-[125%];
		@apply font-serif;
	}
	.explai-description {
		@apply not-italic font-normal text-grey-neutral text-[18px];
		@apply leading-[150%] font-sans;
	}
	
	

	.border-green {
		@apply border-2 border-green-600;
	}
	.border-red {
		@apply border-2 border-[#E95230]
	}

	.ordering-number {
		@apply w-[34px] h-[34px] rounded-full font-serif not-italic;
		@apply font-bold leading-5 text-[16px] bg-green-neutral;
		@apply text-white flex justify-center items-center;
	}
	.ordering-title {
		@apply font-sans not-italic font-semibold text-[16px] leading-5;
		@apply text-grey-dark;
	}
	.download-title {
		@apply font-serif not-italic font-bold text-[32px] leading-[125%];
		@apply text-grey-dark;
	}

	/* level page */
	.category-title {
		@apply font-avenir font-bold text-[12px] leading-[150%] tracking-widest my-4 text-grey-dark uppercase pl-2
	}
	.level-title-container {
		@apply h-[48px] border border-yellow-light flex items-center justify-between pl-5 rounded-lg cursor-pointer
	}
	.level-text {
		@apply font-avenir font-bold text-[18px] leading-[22px] text-grey-dark
	}

	/* Modal window */
  .modal-container {
    @apply fixed inset-0 bg-black/50 flex items-center justify-center z-10;
  }
  .modal-window {
    @apply w-10/12 max-w-md h-auto bg-white rounded-lg p-6 flex flex-col items-center text-center;
  }
  .modal-title {
    @apply font-filson not-italic font-bold text-[18px] leading-[125%] text-grey-dark;
  }
  .modal-text {
    @apply font-avenir not-italic font-normal text-[14px] leading-4 text-grey-dark;
  }

	/* Level content page */
	.level-content-title {
			@apply my-2.5 text-left;
			@apply font-filson not-italic font-bold text-[18px] leading-[125%] text-grey-dark;
	}
	.level-content-container {
    @apply flex flex-col w-full max-w-3xl m-auto p-5;
  }
	.star-rating-container {
		@apply h-[35px] w-[55px] bg-yellow-light rounded-[28px] flex items-center justify-center gap-1;
		@apply font-filson font-bold text-[18px] leading-[125%] text-[#FBF2DF]
	}

	/* Onboarding content */

	.onboarding-title {
		@apply w-full font-filson font-bold text-[24px] leading-[125%] text-grey-dark text-left
	}
	.level-title {
		@apply font-avenir font-bold text-[18px] leading-[22px] text-grey-dark 
	}
	.level-description {
		@apply font-avenir font-normal text-[12px] text-[#737270]
	}
	.skip-text {
		@apply font-avenir font-bold text-[14px] leading-[125%] text-green-neutral
	}
}
