<script lang="ts">
  import type { Level } from '$lib/model/Level';
  
  export let levels: Array<Level.Doc>
  export let lcId: string;
    
</script>

{#if levels.length !== 0}
  <div class="flex my-2">
    <img class="w-[38px]" src={`/level-category/${levels[0].category}-icon.svg`} alt="ingredients-icon">
    <p class="category-title">{levels[0].category}</p>
  </div>
  <div class="pl-3 flex flex-col gap-2">
    {#each levels as level}
        <a sveltekit:prefetch href={`/level-content/${lcId}/level/${level.id}`}>
          <div class="level-title-container">
            <p class="level-text">{level.title}</p>
            <div class="flex mr-2 gap-1">
              <img class="w-[12px]" src="/filled.svg" alt="filled-start">
              <img class="w-[12px]" src="/filled.svg" alt="filled-star">
              <img class="w-[12px]" src="/not-filled.svg" alt="not-filled-star">
            </div>
          </div>
        </a>
    {/each}
  </div>
{/if}
