<script lang="ts">
  import type { Level } from '$lib/model/Level';
  import type { Dish } from '$lib/model/Dish';
  import LevelCategory from '$lib/components/LevelCategory.svelte';

  export let levels : Array<Level.Doc>;
  export let dish: Dish.Doc;
  export let lcId: string

</script>

<div class="rounded-lg relative">
  <img class="aspect-[343/184] w-full rounded-lg border border-green-neutral" src={dish.image} alt={dish.title}>
  <div class="absolute top-0 h-[54px] w-full bg-green-neutral rounded-t-lg flex items-center pl-5">
    <p class="font-filson font-bold text-white text-[18px] leading-[125%]">{dish.title}</p>
  </div>
</div>

<LevelCategory {levels} {lcId}/>
