<script lang="ts">
  import CategoryItem from '$lib/components/CategoryList.svelte';
  import type { Level } from '$lib/model/Level';

  export let levels : Array<Level.Doc>;
  export let lcId: string

  let ingredientsLevels = levels.filter(level => level.category === 'ingredients')
  let shoppingLevels = levels.filter(level => level.category === 'shopping')
  let preppingLevels = levels.filter(level => level.category === 'prepping')
  let techniquesLevels = levels.filter(level => level.category === 'techniques')
  let makingLevels = levels.filter(level => level.category === 'making')
</script>

<CategoryItem 
  levels={ingredientsLevels}
  {lcId}
/>
<CategoryItem 
  levels={shoppingLevels}
  {lcId}
/>
<CategoryItem 
  levels={preppingLevels}
  {lcId}
/>
<CategoryItem 
  levels={techniquesLevels}
  {lcId}
/>
<CategoryItem 
  levels={makingLevels}
  {lcId}
/>
