<script context="module" lang="ts">
	// doc: https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/markup
	// type TwSub = 'site' | 'creator' | 'label1' | 'label2' | 'data1' | 'data2';

	// type ArticleSub = 'publisher' | 'published_time' | 'author';

	type OgType =
		| 'music.song'
		| 'music.album'
		| 'music.playlist'
		| 'music.radio_station'
		| 'video.movie'
		| 'video.episode'
		| 'video.tv_show'
		| 'video.other'
		| 'article'
		| 'book'
		| 'profile'
		| 'website';
</script>

<script lang="ts">
	import { configPublic } from '$lib/config';
	import { page } from '$app/stores';

	export let title: string;
	export let titlePostfix: string | false = 'Parsnip';
	export let desc: string;
	export let descPostfix: string | 'titlePostfix' | 'title' | false = 'title';
	export let keywords: (string | undefined)[] | string | undefined = [];

	export let thumbSrc: string | undefined = void 0;
	export let thumbAlt: string | undefined = void 0;

	export let robotIndex = true;
	export let robotFollow = true;

	export let type: OgType = 'website';
	export let author = 'Parsnip';
	export let articleDate: string | undefined = void 0;

	const siteName = 'Parsnip';
	const locale = 'en_US';

	// build page title
	$: pageTitle = title;
	// $: pageTitle = [title, titlePostfix && titlePostfix].filter(Boolean).join(' | '); old version 


	// build page desc
	$: pageDesc = [
		desc,
		(() => {
			if (descPostfix === 'title') return pageTitle;
			else if (descPostfix === 'titlePostfix') return titlePostfix;
			else if (descPostfix) return descPostfix;
			return false;
		})()
	]
		.filter(Boolean)
		.join(' | ');

	// build keyword
	$: pageKeywords = (Array.isArray(keywords) ? keywords : [keywords]).filter(Boolean).join(',');

	// robot cofig
	let index = 'index';
	let follow = 'follow';
	$: {
		!robotIndex && (index = 'noindex');
		!robotFollow && (follow = 'nofollow');
	}

	// build alternate url
	let alternate: string;

	$: {
		let pathname = $page.url.pathname;
		// charge `/blogs to /articles`
		if (pathname.startsWith('/blogs')) pathname = pathname.replace(/^\/blogs/, '/articles');
		else if (pathname.startsWith('/blog/')) pathname = pathname.replace(/^\/blog\//, '/articles/');
		else if (pathname.startsWith('/blog')) pathname = pathname.replace(/^\/blog/, '/articles');
		alternate = [configPublic.siteUrl, pathname].filter(Boolean).join('');
	}

	// img

	// build other graph types
</script>

<svelte:head>
	<title>Parsnip</title>
	<meta name="description" content={desc} />
	<meta name="keywords" content={pageKeywords} />

	<!-- Minimal -->
	<link rel='icon' type='image/png' href='favicon.png'>
	<link rel='icon' sizes='192x192' href='favicon.png'>
	<link rel='apple-touch-icon' href='favicon.png'>
	<meta name='msapplication-square310x310logo' content='favicon.png'>

	<!-- <meta name="apple-itunes-app" content="app-id=1173564771" /> -->
	<meta name="robots" content="{index},{follow}" />

	<link rel="alternate" hreflang="en" href={alternate} />
	<!-- <link rel="canonical" href={alternate} /> -->

	<link name="build-time" content={configPublic.buildTime} />

	<!-- open graph -->
	{#if thumbSrc}
		<meta name="og:image" content={thumbSrc} />
	{/if}
	{#if thumbAlt}
		<meta name="og:image:alt" content={thumbAlt} />
	{/if}
	<meta name="og:site_name" content={siteName} />
	<meta name="og:locale" content={locale} />
	<meta name="og:type" content={type} />
	<meta name="og:title" content={pageTitle} />
	<meta name="og:description" content="Test your cooking skills by trying to answer this question!" />
	

	<!-- article -->
	<!-- <meta name="article:publisher" content="https://www.facebook.com/expectful/" /> -->
	<meta name="article:author" content={author} />
	{#if articleDate}
		<meta name="article:published_time" content={articleDate} />
	{/if}

	<!-- twitter -->
	<!-- <meta name="twitter:site" content={siteName} />
	<meta name="twitter:creator" content={author} />
	<meta name="twitter:label1" content="Written by" />
	<meta name="twitter:data1" content={author} /> -->

	<!-- {#if true === ''}
    <meta name="twitter:label2" content="Est. reading time" />
    <meta name="twitter:data2" content="5mins" />
  {/if} -->
</svelte:head>
