<script lang="ts">
  import { goto } from "$app/navigation";
  import { count } from '../../../store';
  


  export let lId: string
  export let lcId: string

  const goTryAgain = () => {
    count.set(0)
  }

</script>


<div class="max-w-3xl min-h-screen m-auto flex flex-col justify-center items-center">
  <img class="w-[140px] h-[140px]" src="/snippy/answer_type_9.jpg" alt="snippy">
  <div class="flex gap-3">
    <img src="/filled.svg" alt="star">
    <img src="/not-filled.svg" alt="star">
    <img src="/not-filled.svg" alt="star">
  </div>
  <p class="font-filson font-bold text-[32px] text-grey-dark">No sweat!</p>
  <p class="font-avenir font-normal text-[18px] leading-[150%] text-grey-dark">You'are still learning!</p>
  <div class="w-[343px] flex flex-col gap-2 mt-10">
    <a sveltekit:prefetch href={`/level-content/${lcId}`}>
      <button class="custom-btn bg-green-neutral"><p class="text-btn">Next Level</p></button>
    </a>
    <a sveltekit:prefetch href={`/level-content/${lcId}/level/${lId}`}>
     <button class="custom-btn border border-green-neutral"><p class="text-btn text-green-neutral" on:click={goTryAgain}>Try Again</p></button>
    </a>
  </div>
</div>