<script lang="ts">
	// props
	export let snippyName: string | undefined = void 0;
	export let heading: string | undefined;
	export let description: string | undefined = void 0;

	export let answerTitle: string | undefined = void 0;
	export let answerLetter: string | undefined = void 0;

	export let actionWhenIncorrect: (() => unknown) | undefined = void 0;

	export let answerCorrect = true;
	export let src: string | undefined = void 0;

	let showBtn = false

	$: btnLabel = answerCorrect ? 'Next' : 'Try again';

	$: snippySrc = snippyName ? `/snippy/${snippyName}.jpg` : void 0;

	$: answerColorClass = answerCorrect ? /* w */ `border-green` : /* w */ `border-red`;

	const hideBtn = () => {
		showBtn = true
	}
	// store

	import { count } from '../../../store';

	function indecrement() {
		count.update(n => n + 1);
	}
</script>

<div class="animate-startPage">
	{#if answerCorrect && !src && snippyName}
	<div class:h-[120px]={snippyName}>
		<img class="w-[120px]" src={snippySrc} alt={''} />
	</div>
	{/if}

	<div class="flex-1 flex flex-col justify-center">
		{#if snippySrc && (!answerCorrect)}
			<div class="h-[120px]">
				<img class="w-[120px]" src={snippySrc} alt={heading} />
			</div>
		{/if}


		{#if answerCorrect && src}
			<img
				class="aspect-[343/193] w-full rounded-lg object-cover my-3 border-2 border-primary"
				{src}
				alt={heading}
			/>
		{/if}

		
		<p class="explain-title mb-5">{heading}</p>


		{#if description}
			<p class="explai-description mb-10">{description}</p>
		{/if}


		{#if answerTitle || (!answerCorrect && src) || $$slots.default}
			<p class="w-full your-answer mt-auto mb-2">You answer:</p>
			{#if $$slots.default}
				<slot />
			{:else if src}
				<img
					class="aspect-[343/193] w-[100px] h-[100px] rounded-lg object-cover border-2 border-red"
					{src}
					alt={heading}
				/>
			{:else if answerTitle}
				<div class="answer {answerColorClass}">
					{#if answerLetter}
						<span class="answer-letter">{answerLetter}</span>
					{/if}
					{answerTitle}
				</div>
			{/if}

			<div class="mb-5" />
		{/if}

		{#if answerCorrect}
			<div on:click={indecrement} class:hidden={showBtn} class="btn btn-primary rounded-full normal-case">
				<span class="btn-text">{btnLabel}</span>
			</div>
		{:else if !answerCorrect && actionWhenIncorrect}
			<span class="btn btn-primary rounded-full normal-case" on:click={actionWhenIncorrect}>
				<span class="btn-text">{btnLabel}</span>
			</span>
		{/if}
	</div>
</div>

